<%= form_for ([@student, @evaluation]) do |form| %>
  <%= render "shared/error_messages", :target => @evaluation %>

  <div class="form-group">
    <label>Date</label>
    <%= f.date_select :date, placeholder: "Date", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.radio_button(:rating, 1) %>
    <%= form.label(:rating, "Green") %>


    <%= form.radio_button(:rating, 2) %>
    <%= form.label(:rating, "Yellow") %>


    <%= form.radio_button(:rating, 3) %>
    <%= form.label(:rating, "Red") %>
  </div>

  <div class="form-group">
    <label>Remark</label>
    <%= f.text_area :remark, placeholder: "Remark", class: "form-control", rows:"8" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
