<!-- <div class="panel panel-primary">
  <div class="panel-heading"><%= @evaluation.date %></div>

  <div class="panel-body">

    <p>Date <%= @evaluation.student.date %></p>

  </div>

</div>

<%= link_to "Back", [@evaluation.student, @evaluations_path], class: "btn btn-default" %>
<%= link_to "Edit", [:edit, @evaluation.student, @evaluation], class: "btn btn-primary" %>
<%= link_to "Delete", [@evaluation.student, @evaluation], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %> -->
