<div class="panel panel-primary">
  <div class="panel-heading"><%= @student.name %></div>

  <div class="panel-body">
    <h3>Evaluations</h3>
  <% if @student.evaluations.any?  %>
  <%= render 'evaluations/index' %>
  <% else %>
    <p>There are no evaluations for the student</p>
  <% end %>
  <p> <%= link_to 'Evaluate', new_student_evaluation_path(@student, @evaluation), :class => 'btn btn-default' %></p>
    <p>Batch <%= @student.batch.number %></p>
    <p><%= image_tag(@student.photo) %></p>

  </div>

</div>

<%= link_to "Back", [@student.batch, @students_path], class: "btn btn-default" %>
<%= link_to "Edit", [:edit, @student.batch, @student], class: "btn btn-primary" %>
<%= link_to "Delete", [@student.batch, @student], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
