<div class="panel panel-primary">
  <div class="panel-heading"><%= @student.name %> - Batch <%= @student.batch.number %></div>

  <div class="panel-body">
    <h3>Evaluations</h3>
  <% if @student.evaluations.any?  %>
  <%= render 'evaluations/index' %>
  <% else %>
    <p>There are no evaluations for the student</p>
  <% end %>
      <%= link_to "Evaluate", new_batch_student_evaluation_path(batch_id: @student.batch.id, student_id: @student.id), class: "btn btn-default" %>
    <p><%= image_tag(@student.photo) %></p>

  </div>

</div>

<%= link_to "Back", batches_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_batch_student_path(batch_id: @student.batch.id, id: @student.id), class: "btn btn-primary" %>
<%= link_to "Delete", batch_student_path(batch_id: @student.batch.id, id: @student.id), :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
