<%= form_for @batch do |f| %>

  <div class="form-group">
    <label>Batch number</label>
    <%= f.number_field :number, placeholder: "Batch Number", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Start Date</label>
    <%= f.date_select :start_date, placeholder: "Start Date", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>End Date</label>
    <%= f.date_select :end_date, placeholder: "End Date", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
