<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Batches
      </div>
      <div class="panel-body">

        <% @batches.each do |batch| %>
        <div class="row">
          <div class="col-md-7">
            <h4>Batch <%= batch.number %></h4>
            <p>Start date: <%= batch.start_date %></p>
            <p>End date: <%= batch.end_date %></p>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", batch, class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <%= link_to "Add a batch", new_batch_path, class: "btn btn-primary" %>
  </div>
</div>
