<div class="panel panel-primary">
  <div class="panel-heading">Batch <%= @batch.number %></div>

  <div class="panel-body">

    <p>Start date: <%= @batch.start_date %></p>
    <p>End date: <%= @batch.end_date %></p>

    <div>
		  <p>Percentage Green: <%= @batch.percentages[:green] %></p>
		  <p>Percentage Yellow: <%= @batch.percentages[:yellow] %></p>
		  <p>Percentage Red: <%= @batch.percentages[:red] %></p>
    </div>

    <% @students.each do |student| %>
    <div class="row">
      <div class="col-md-7">
        <h4><%= student.first_name %> <%= student.last_name %></h4>
      </div>
      <div class="avatar">
        <%= link_to(image_tag(student.photo), batch_student_path(batch_id: @batch, id: student.id)) %>
      </div>
      <div class="col-md-3 right">
        <%= link_to "View", batch_student_path(batch_id: @batch, id: student.id), class: "btn btn-default" %>
      </div>
    </div>
    <% end %>

  </div>

</div>

<%= link_to "Back", batches_path, class: "btn btn-default" %>
<%= link_to "Question", batch_question_path(@batch), class: "btn btn-primary" %>
<%= link_to "Add a student", new_batch_student_url(@batch.id), class: "btn btn-primary" %>
<%= link_to "Delete batch", batch_path(@batch.id), class: "btn btn-danger", data: { confirm: 'Are you sure?' }, method: :delete %>
